body {
	background: #65B8E0;
}

div.containter {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

article {
	padding: 1em 3.5%;
	width: 92%;
}

section {
	
}

aside {
	
}

p span {
	margin: -.1em 0;	
}
.changeloc {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'SourceSansProLight';
	font-size: 1em;
}

input, #button {
	width: 90%;
	
}

img {
	margin: 0 auto;
	
}
input {
	margin:  0 0 .5em 0;
	border: none;
	background: #eee;
	padding: .5em 5%; 
	font-family: 'SourceSansProLight';
	font-size: 2.7em;
	text-align: center;
}

#button {
	border: none;
	background: #eee;
	padding: 1em 5%; 
	display: block;
	text-align: center;
	font-family: 'SourceSansProLight';
	margin: 0 0 1em 0;
}
ul {
	margin: 0 0 1em 0;
	float: left;
	width: 100%;
}

ul li {
	font-family: 'SourceSansProLight';
	font-size: 3.0em;
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	color: #fff;
	margin: .1em 0 .5em 0;
}

li.high {

}

hr {
	display: block;
	height: 3px;
	background: #08446D;
	border: 0px ;
}

li.low {
}

.high, .low {
	font-size: 2em;
	color: #08446D;
}

.ios {
	display: none;
}