body {

}
div.container {
	
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

article {
	padding: 1em;
	width: 100%;
	float: left;
}

section {
	float: left;
	width: 100%;
}

aside {
	
}

body {
	background: $maincolor1;
}


form {
	margin: 0 0 1em;
	input {
		width: 100%;
		padding: .5em .25em;
		font-size: 2em;
		border: 2px solid $maincolor1;
		border-radius: 4px;
		@include trans(all,.125s);
		outline: none;
		text-align: center;
		font-family: 'SourceSansProLight';

		&:focus {
			border: 2px solid $maincolor2;
		}
	}

	button {
		width: 100%;
		padding: 1em 0;
		font-size: 1.1em;
		background: $maincolor2;
		border: none;
		color: #fff;
		border-radius: 4px;
		margin: .75em 0 0;
		font-family: 'SourceSansProLight';
	}
}

.middle-break {
	margin: .25em 0;
	@include cf;
	hr {
		width: 42%;
		height: 3px;
		border: none;
		background: $maincolor2;
		float: left;

	}

	span {
		width: 16%;
		display: block;
		text-align: center;
		float: left;
		font-family: 'SourceSansProLight';

	}

	.half1 {
		
	}

	.half2 {
		
	}
}

p.ios {
	display: none;
}

.weather {
	display: none;
}

.weather-controls {
	display: none;
	@include cf;
	margin: 0em 0 0;
	p {
		float: left;
		cursor: pointer;
		margin: 0;
	}
	ul {
		float: right;
		text-align: right;
		li {
			font-family: 'SourceSansProSemiBold';
			float: left;
			padding: 0 0em 0 2em;
			cursor: pointer;

		}
	}
}

div.current-weather {
	background: $maincolor2;
	padding: .5em;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	margin: 0 0 .5em;
	span {
		padding: 0 1em;
	}

}

.forcast {
	@include cf;
	ul {
		margin: 0.25em 0 .75em;
		float: left;
		width: 100%;
		li {
			width: 50%;
			float: left;
			font-family: 'SourceSansProSemiBold';
		}
	}
}

.celsius {
	display: none;
}

.weather-icon {
	margin: -3em 0 0em;
	line-height: 1em;

	span {
		line-height: 1em;
	}
}

.sunrise {
	background: #FF2763;
	padding: .5em;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	margin: 0 0 .5em;
	@include cf;
	ul {
		width: 50%;
		float: left;

		li {
			margin: 0 0 .25em;
			&.time {
				font-family: 'SourceSansProSemiBold';
			}
		}
	}
}

.c-deg,.f-deg, {
	
}

.current-location {
	cursor: pointer;
}

.fiveday {
	ul {
		width: 100%;
		li {
			width: 17.5%;
			float: left;
			font-family: 'SourceSansProLight';
			border: 2px solid $maincolor2;
			border-radius: 5px;
			margin: 0 1.25%;

			.weather-icon {
				font-size: 2em;
				margin: .25em 0;
			}
			.weekday {
				font-family: 'SourceSansProSemiBold';
			}

			span {
				width: 100%;
				display: block;
				text-align: center;
				margin: .5em 0;
			}
		}
	}
	.celsius {
		display: none;
	}
}
@media screen and (min-width: $i4) and (min-height: 600px) {
	html {
	height: 100%;
}

body {
	
	//display: flex;
	//align-items: center;
	//justify-content: center;
	//height: 100%;
	padding: 1em;
	height: 100%;
	@include flexbox();
	@include align-item(center);
	@include justify(center);
	
}
}

@media screen and (min-width: $v6) {

}

@media screen and (min-width: $v8) {

}

@media screen and (min-width: $v10) {

}