body {
	font-family: 'SourceSansProRegular';
}

h1, h2, h3, h4, h5, h6 { 

}

h1 {
	font-family: 'SourceSansProBlack';
	font-size: 3.0em;
	color: #fff;
	text-shadow: 2px 2px 1px #000;
	text-align: center;
}

h2 {
	font-family: 'SourceSansProBlack';
	font-size: 2.3em;
}

h3 {
	font-family: 'SourceSansProBlack';
	font-size: 2.0em;
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	line-height: 1.6em;
	font-size: 1.25em;
}
