h1, h2, h3, h4, h5, h6 { 

}

h1 {
	font-family: 'SourceSansProSemibold';
	font-size: 2em;
	text-align: center;
	color: $maincolor2;
	margin: .5em 0 0;
}

h2 {
	font-family: 'SourceSansProLight';
}

h3 {
	font-family: 'SourceSansProLight';
	color: #000;
	font-size: 1.5em;
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	font-family: 'SourceSansProLight';
	font-size: 1.1em;
	line-height: 1.25em;
	margin: 0 0 .75em;

}

pre {

	code {
	
	}
}


@media screen and (min-width: $i4) {

}

@media screen and (min-width: $v6) {

}

@media screen and (min-width: $v8) {

}

@media screen and (min-width: $v10) {

}